@import '../../styles/base/typography.scss';

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    place-items: center;

    > * {
        margin: 1.25rem;
    }

    ul.menu-navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        font-family: 'DM Sans Bold';
        font-size: .75rem;
        letter-spacing: .125rem;
        text-transform: uppercase;
        color: #000;
        padding: 0;
        transition: .6s;

        > li {
            margin: auto 1.25rem;

            &:hover {
                cursor: pointer;
                color: #5e5e5e;
            }
        }
    }
}