@import '../../styles/base/typography.scss';

button {
    min-width: 9.875rem;
    height: 2.5rem;
    font-family: 'DM Sans Bold';
    font-size: .75rem;
    letter-spacing: .125rem;
    border: none;
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    transition-duration: .6s;

    &:hover {
        cursor: pointer;
        background-color: #DFDFDF;
        color: #000;
    }
}