
@font-face {
    font-family: 'DM Sans Regular';
    src: local('DM Sans Regular'), url('../../../assets/fonts/DMSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DM Sans Bold';
    src: local('DM Sans Bold'), url('../../../assets/fonts/DMSans-Bold.ttf') format('truetype');
}